
body{
    font-family: 'Playfair Display';
}

//SECCIÓN: Categorías

.subtitulo1{
    display: flex;
    align-items: center;
    margin-top: 100px;
    background-color: #FDC85E;
    height: 60px;
    width: 100%;
}

.subtitulo1 h2{
    padding-left: 40px;
    //padding-top: 8px;
    font-size: 40px; //Con respecto al height
}


.imagenes{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    //background-color: aqua;
}
.imagenes > div{
    display: inline-block;
    align-self: center;
}
img{
    border-radius: 10px;
}
.img1{
    text-align: center;
}
.img2{
    text-align: center;
    padding-left: 40px;
}


//SECCIÓN: Acerca de Schedula
.subtitulo2{
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    background-color: #FDC85E;
    height: 40px;
    width: 100%;
}

.subtitulo2 h2{
    //padding-top: 3px;
    //text-align: center;
    margin: 0 auto;
    font-size: 25px;
}


.descripcion{
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    //background-color: aqua;
}
.descripcion > div{
    display: inline-block;
    align-self: center;
}
.descripcion p{
    margin-top: 0;
    width: 200px;
    height: 150px;
    text-align:center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    line-height: 25px;
    background-color: #EAE2B7;
    margin-bottom: 80px;
}
.par2{
    padding-left: 40px;
}
