<body>

    <!--Encabezado-->
    <header>
        <app-header></app-header> <!--Selector del componente header-->
    </header>

    <!--Categorías ofrecidas-->
    <section>
        <div class="subtitulo1">
            <h2>Reserva online tu próxima cita</h2>
        </div>

        <div class="imagenes">
            <div class="img1">
                <a [routerLink]="['/mostrar-negocios', 'Centros de belleza']">
                    <img style="width: 300px" src="../../../assets/BeautySalon.jpg" alt="Centros de belleza"/>
                </a>
                <p style="width: 300px">Centros de belleza, estética y SPA</p>
            </div>
            <div class="img2">
                <a [routerLink]="['/mostrar-negocios', 'Clínicas odontológicas']">
                    <img style="width: 300px" src="../../../assets/Dentist.jpg" alt="Clínicas odontológicas"/>
                </a>
                <p style="width: 300px">Clínicas odontológicas</p>
            </div>
            <div class="img2">
                <a [routerLink]="['/mostrar-negocios', 'Clínicas veterinarias']">
                    <img style="width: 300px" src="../../../assets/Veterinary.jpg" alt="Clínicas veterinarias"/>
                </a>
                <p style="width: 300px">Clínicas veterinarias</p>
            </div>
        </div>
   
    </section>
   
    <!--Acerca de Zitate-->
    <section>
        <div class="subtitulo2">
            <h2>Un servicio perfecto para ti</h2>
        </div>

        <div class="descripcion">
            <div class="par1">
                <p><b>Rápido y fácil</b> <br><br> Sin necesidad de llamar o textear, o esperar un turno de atención</p>
            </div>
            <div class="par2">
                <p><b>Confiable</b> <br><br> El negocio sabrá al instante sobre tu nueva reserva</p>
            </div>
            <div class="par2">
                <p><b>Actualizado</b> <br><br> Tienes acceso a todas las citas disponibles en tiempo real</p>
            </div>       
        </div>

    </section>

</body>
