.contenedor{
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    
    text-align: center;
    font-family: 'Playfair Display';
    color: #FCF1F1;
    background-color: #D62828;
    font-size: 13px;
}