
.contenedor{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: #D62828;
    height: 70px;
    font-family: 'Playfair Display';
}

.contenedor ul{
    list-style-type: none; //Quitar las viñetas
    overflow: hidden;
    padding: 0 20px 0;
    margin-top: 5px;
}

.contenedor li a{
    display: block;
    color: #FCF1F1;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    cursor: pointer;
}

.contenedor li a:hover{
    background-color: #FCF1F1;
    color: #D62828;
}



/*
.contenedor ul ul{
    display: block;
    position: absolute;
    margin-top: 0%;
    float: right;
    background: #D62828;
    padding: 10px;
    min-width: 140px;
}
*/

.menu ul{
    display: none;
    background: #D62828;
}
.menu:hover ul{
    display: block;
    background-color: white;
    color: #D62828;
}
.menu ul {
    margin:0;
    padding: 0;
    list-style: none;
}
.menu ul li a {
    display: block;
    color: white;
    background-color: #D62828;
    text-decoration: none;
}
.menu ul li a:hover {
    color: #D62828;
    background-color: white;
}

