<div class="contenedor">
    <ul>
        <li style="float: left; font-size: 30px;"><a routerLink="/">Zitate</a></li> <!--Enrutar hacia la página de inicio-->
        <li *ngIf="!token" style="float: right; background-color: #FCBF49; font-size: 25px;"><a routerLink="/login">Iniciar sesión</a></li> <!--Enrutar hacia la página de login-->
        <li *ngIf="!token" style="float: right; background-color: #FCBF49; margin-right: 5px; font-size: 25px;"><a routerLink="/registro">Registrate</a></li> <!--Enrutar hacia la página de registro-->
        
        <li class="menu" *ngIf="token" style="float: right; margin-right: 5px; font-size: 25px;"><a href="#">{{nombre}}</a>
            <ul>
                <li style="font-size: 18px;"><a (click)="cerrarSesion()">Cerrar sesión</a></li>
            </ul>  
        </li>
    
    </ul>
</div>
