body{
    margin-top: 100px;
    font-family: 'Playfair Display';
}

.boton{
    float: right;
    margin-right: 50px;
}

.boton button{
    background-color: #0077B8;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
    font-family: 'Playfair Display';
    font-size: 28px;
    color: #FCF1F1;
    border-radius: 40%;
    border: none;
    cursor: pointer;
}

.boton button:hover{
    background-color: #D62828;
    color: #FCF1F1;
}

h1{
    margin-left: 70px;
}

.contenedor{
    //background-color: aqua;
    width: 50%;
}

table{
    border-spacing: 20px;
    //margin-left: 50px;
    margin: auto;
}

td{
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px;
    //background-color: #FDDC9B;
}

a{
    text-decoration: none;
    color: #D62828;
}