<!--Encabezado-->
<header>
    <app-header></app-header> <!--Selector del componente header-->
</header>

<body>

    <!--Botón hacia atras-->
    <div class="boton">
        <button type="button" (click)="goBack()">Ir atrás</button>
    </div>

    <h1>{{catego}}</h1>

    <table class="contenedor">
        <tr *ngFor="let negocio of negocios">
            <td scope="row"><a href=""><b style="font-size: 25px;">{{negocio.nombre_negocio}}</b></a><br/><br/>
                <i style="font-size: 20px; line-height: 40px;">{{negocio.descripcion_negocio}}</i><br/>
                <i style="font-size: 15px; line-height: 20px;">{{negocio.direccion_negocio}}</i><br/>
                <i style="font-size: 15px; line-height: 20px;">Teléfono: {{negocio.telefono_negocio}}</i>
            </td>
        </tr>    
    </table>

<br>
<br>
<br>
</body>

