
<body>
    <!--Encabezado-->
    <header>
        <app-header-simple></app-header-simple> <!--Selector del componente header-simple-->
    </header>

    <!--Formulario-->
    <div class="contenedor">

        <h2>Te damos la bienvenida a Zitate</h2>

        <form [formGroup]="formaUsuarios"> <!--Relacionar formulario con grupo de inputs-->
    
            <!--Campo email-->
            <div class="elemento">
                <input type="email" id="email" name="email" placeholder="Correo electrónico" required="true" formControlName="email"/>
            </div>
    
            <!--Campo contraseña-->
            <div class="elemento">
                <input type="password" id="password" name="password" placeholder="Contraseña" required="true" formControlName="password"/>
            </div>

            <!--Botón para enviar-->
            <div class="elemento">
                <button type="submit" [disabled]="formaUsuarios.invalid" (click)="validarUsuario()">INICIAR SESION</button>
            </div>
    
        </form>
    </div>
</body>
